<h1>New article</h1>
	<%= form_for :article, url: articles_path do |f| %> <!--form_for es un form builder. Se coloca <%=%> para indicar que se va a evaluar la instrucción dentro del scriptlet y va a reemplazar este con su resultado-->
		<%if @article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@article.errors.count, "error") %> <!-- es un helper de Rails que recibe dos argumentos un numero y un string y si el numero es mayor que uno vuelve el string en plural-->
				prohibited this article from being saved:</h2>
				<ul>
					<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<%end%>
				</ul>
		<%end%>	
			
		</div>
		<p>
			<%= f.label :title %>
			<%= f.text_field :title%>
		</p> 
		<p>
			<%= f.label :text %><br> <!--lo que coloque como simbolo aparecerá por pantalla-->
			<%= f.text_area :text%>
		</p>
		
		<p>
			<%= f.submit%>
		</p>
	<% end %> <!--Solo ejecuta el código-->

<%= link_to "Back",articles_path, class: "enlace" %>
