<h1>New article</h1>
	<%= form_for :article, url: articles_path do |f| %> <!--form_for es un form builder. Se coloca <%=%> para indicar que se va a evaluar la instrucción dentro del scriptlet y va a reemplazar este con su resultado-->

		<p>
			<%= f.label :title %>
			<%= f.text_field :title%>
		</p> 
		<p>
			<%= f.label :text %><br> <!--lo que coloque como simbolo aparecerá por pantalla-->
			<%= f.text_area :text%>
		</p>
		
		<p>
			<%= f.submit%>
		</p>
	<% end %> <!--Solo ejecuta el código-->
